{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

            <hr>
            <h5>Настройки городов и районов</h5>
            <hr>

           <table class="table table-sm table-condensed">
                <table id="table_product_in_trade" class="display">
                 <thead>
                    <tr>
                        <td>Описание</td>
                        <td>Дата создания</td>
                        <td>Комментарий</td>
                        <td>Создатель</td>
                        <td><ion-icon name="trash"></ion-icon></td>
                    </tr>
                 </thead>
                 <tbody>
                    {% for p in product_in_trade %}
                    <tr>
                        <td>{{p.data}}</td>
                        <td>{{p.create_date}}</td>
                        <td>{{p.comment}}</td>
                        <td>{{p.user}}</td>
                        <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Pdel{{p.id}}"><ion-icon name="trash"></ion-icon></button></td>
                    </tr>
                    {% endfor %}
                     </tbody>
                     <tfoot>
            </table>
            <script type="text/javascript">
                    $(document).ready(function() {
                        $('#table_product_in_trade').dataTable( {
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                            }
                        } );
                    } );
            </script>


           {% for p in product_in_trade %}
            <div class="modal fade" id="Pdel{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="Pdel{{p.id}}Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="Pdel{{p.id}}Label">Удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      Подтвердите удаление {{p.data}} созданного {{p.create_date}} пользователем {{p.user}}
                  </div>
                  <div class="modal-footer">
                      <a href="{{ url_for('remove', url_r='product_in_trade', table='Products', del_id=p.id)  }}" class="btn btn-warning btn-xs" role="button">Удалить</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                  </div>
                </div>
              </div>
            </div>
           {% endfor %}

{% endblock %}