{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
        <p class="lead">
            <hr>
            <h5> Настройки товара и фасофки </h5>
            <hr>
        <div id="accordion" role="tablist" aria-multiselectable="true">
        {% for s in sort %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{s.id}}">
              <h6 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{s.id}}" aria-expanded="false" aria-controls="collapse{{s.id}}">
                  {{s.title}}
                </a>
              </h6>
            </div>
            <div id="collapse{{s.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{s.id}}">
            <table class="table table-sm table-condensed">
                {% for p in packing %}
                    {% if p.sorts_id == s.id %}
                        <tr>
                            <td>Фасофка: {{p.title}} {{ p.price }} {{ stcur }}</td>
                            <td><a href="{{ url_for('remove_packing', del_packing_id=packing.id) }}" class="glyphicon glyphicon-remove"></a></td>
                        </tr>
                        {% for spec_p in spec_price %}
                            {% if spec_p.packing_id == p.id and p.sorts_id == s.id%}
                                <tr>
                                        <td>Спец цена: {{ spec_p.city }} {{spec_p.spec_price}}</td>
                                        <td><a href="{{ url_for('remove_spec_p', del_spec_p_id=spec_p.id) }}" class="glyphicon glyphicon-remove"></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </table>
            </div>
          </div>
        {% endfor %}

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h6 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Добавление Вида товара
                </a>
              </h6>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                {{ wtf.quick_form(form_sort) }}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h6 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Добавление Фасофки для товара
                </a>
              </h6>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                {{ wtf.quick_form(form_packing) }}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h6 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Добавление спец цены для города
                </a>
              </h6>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                {{ wtf.quick_form(form_spec_p) }}
            </div>
          </div>
        </div>
        </p>
  </div>
</div>
{% endblock %}