{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

            <hr>
            <h5>Настроки пользователей (сотрудников)</h5>
            <hr>

            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#AddModal">
                <ion-icon name="person-add"></ion-icon>
            </button>

            <hr>

            <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="AddModalLabel">Создание нового пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ wtf.quick_form(form_user) }}
                  </div>
                </div>
              </div>
            </div>

             <table id="table_users" class="display">
                 <thead>
                    <tr>
                        <td>Логин</td>
                        <td>Должность</td>
                        <td>Описание</td>
                        <td>@mail</td>
                        <td>Последний вход</td>
                        <td><ion-icon name="create"></ion-icon></td>
                        <td><ion-icon name="trash"></ion-icon></td>
                    </tr>
                 </thead>
                <tbody>
                  {% for user in users %}
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.position}}</td>
                        <td>{{user.about}}</td>
                        <td>{{user.mail}}</td>
                        <td>{{user.last_seen}}</td>
                        <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#EditModal{{user.id}}"><ion-icon name="create"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#RemoveModal{{user.id}}"><ion-icon name="trash"></ion-icon></button></td>
                    </tr>
                    {% endfor %}
                 </tbody>
                 <tfoot>
              </table>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#table_users').dataTable( {
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                            }
                        } );
                    } );
                </script>

                {% for user in users %}
                    <div class="modal fade" id="EditModal{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel{{user.id}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="EditModalLabel{{user.id}}">Редактирование пользователя {{user.username}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                                {{ wtf.quick_form(form_user_edit) }}
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}

{% endblock %}
