{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

            <hr>
            <h5>Настройки фасовок и цен</h5>
            <hr>

             <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#AddPacking">
                Добавить фасофку товара
             </button>
             <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#AddSPrise">
                Добавить спец цену
             </button>

            <hr>

            <div class="modal fade" id="AddPacking" tabindex="-1" role="dialog" aria-labelledby="AddPackingLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="AddPackingLabel">Добавление фасофки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ wtf.quick_form(form_packing) }}
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="AddSPrise" tabindex="-1" role="dialog" aria-labelledby="AddSPriseLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="AddSPriseLabel">Добавление спец цены</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ wtf.quick_form(form_spec_p) }}
                  </div>
                </div>
              </div>
            </div>

           <table class="table table-sm table-condensed">
                <table id="table_packing" class="display">
                 <thead>
                    <tr>
                        <td>Вид товара</td>
                        <td>Кол-Во</td>
                        <td>Ед измерения</td>
                        <td>Цена</td>
                        <td><ion-icon name="create"></ion-icon></td>
                        <td><ion-icon name="trash"></ion-icon></td>
                    </tr>
                 </thead>
                 <tbody>
                    {% for p in packing %}
                    <tr>
                        <td>{{p.sort}}</td>
                        <td>{{p.weight}}</td>
                        <td>{{p.unit}}</td>
                        <td>{{p.price}}</td>
                        <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#EditModal"><ion-icon name="create"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#RemoveModal"><ion-icon name="trash"></ion-icon></button></td>
                    </tr>
                    {% endfor %}
                     </tbody>
                     <tfoot>
            </table>
            <script type="text/javascript">
                    $(document).ready(function() {
                        $('#table_packing').dataTable( {
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                            }
                        } );
                    } );
            </script>
<hr>
<h5>Специальные цена для городов</h5>
<hr>
           <table class="table table-sm table-condensed">
                <table id="table_sprice" class="display">
                 <thead>
                    <tr>
                        <td>Вид товара</td>
                        <td>Город</td>
                        <td>Кол-Во</td>
                        <td>Ед измерения</td>
                        <td>Цена</td>
                        <td><ion-icon name="create"></ion-icon></td>
                        <td><ion-icon name="trash"></ion-icon></td>
                    </tr>
                 </thead>
                 <tbody>
                {% for p in packing %}
                    {% for sp in spec_price %}
                        {% if sp.packing_id == p.id %}
                        <tr>
                            <td>{{p.sort}}</td>
                            <td>{{sp.city}}</td>
                            <td>{{p.weight}}</td>
                            <td>{{p.unit}}</td>
                            <td>{{sp.spec_price}}</td>
                            <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#EditModal"><ion-icon name="create"></ion-icon></button></td>
                            <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#RemoveModal"><ion-icon name="trash"></ion-icon></button></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                 {% endfor %}
                     </tbody>
                     <tfoot>
            </table>
            <script type="text/javascript">
                    $(document).ready(function() {
                        $('#table_sprice').dataTable( {
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                            }
                        } );
                    } );
            </script>



{% endblock %}