<table id="table_id" class="display">
                     <thead>
                        <tr>
                            <td>Город</td>
                            <td>Район</td>
                            <td>Вид товара</td>
                            <td>Фасофка</td>
                            <td>Дата добавления</td>
                            <td>Описание товара</td>
                        </tr>
                     </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{product.city}}</td>
                                <td>{{product.area}}</td>
                                <td>{{product.sort}}</td>
                                <td>{{product.packing}}</td>
                                <td>{{product.create_date}}</td>
                                <td>{{product.data}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                     <tfoot>
                        <tr>
                            <td>Город</td>
                            <td>Район</td>
                            <td>Вид товара</td>
                            <td>Фасофка</td>
                            <td>Дата добавления</td>
                            <td>Описание товара</td>
                        </tr>
                     </tfoot>
                </table>
